.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

#error {
  margin-bottom: 10px;
}

#error span {
  color: #e74c3c;
}

.login {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
}

#submit-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-button:hover {
  background-color: #2980b9;
}

a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #3498db; /* голубой цвет для ссылки */
  transition: color 0.3s ease;
}

a:hover {
  color: #2980b9; /* более темный оттенок голубого при наведении */
}
